<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="PHPCfg Integration Tests">
            <directory>./test/</directory>
        </testsuite>
        <testsuite name="PHPCfg Unit Test Suite">
            <directory>./lib/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./lib/</directory>
        </include>
        <exclude>
            <directory suffix="Test.php">./lib/</directory>
        </exclude>
    </source>
</phpunit>